* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0f14;
  color: #e5e7eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(10px);
}

.navbar a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
}

.btn {
  background: #ff2f92;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 28px;
  background: transparent;
  border: 2px solid #ff2f92;
  color: #ff2f92;
  border-radius: 30px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 40px;
  padding: 80px;
  justify-content: center;
}

.card {
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  backdrop-filter: blur(15px);
}

.card img {
  width: 100%;
  border-radius: 15px;
}
