/* Sticky Note appearance */
#notesDisplay > div {
    transition: all 0.3s ease;
    transform: rotate(-1deg);
}

#notesDisplay > div:nth-child(even) {
    transform: rotate(1deg);
}

#notesDisplay > div:hover {
    transform: scale(1.05) rotate(0deg);
    z-index: 10;
}